@tailwind base;
@tailwind components;
@tailwind utilities;

/* DO WE NEED THIS ANYMORE (vs THEME.JS?) 

body {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

/* dark mode scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Adjust the width as needed */
}

::-webkit-scrollbar-track {
  /*background: #555; /* Darker background for the track */
  background: lightgray; /* Darker background for the track */
}

::-webkit-scrollbar-thumb {
  background: rgb(83, 83, 83); /* Dark color for the thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
  height: 50px; /* Adjust the height as needed */
}

::-webkit-scrollbar-thumb:hover {
  background: #424242; 
}

/* SHAKE ANIMATION ON HORIZONTAL DIRECTION */
.shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}  